---
title: 'Events'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  There are a number of post-conference activities happening after the 2010 DLF
  Fall Forum.
</p>
<h2>DLF Developers Roundtable</h2>
<p>
  Wednesday, November 3rd<br />
  2:00-5:00pm<br />
  Fee: $10<br />
  Meeting Location: Crowne Plaza Cabana, Salon B
</p>
<p>
  A number of topics covered during the 2010 DLF Forum will be covered in more
  technical depth. These include Merritt, the new repository service from the
  California Digital Library; EZID, its new identifier service; and the JHOVE2
  project. The DLF Developers’ Roundtable is open to all technical participants
  of the DLF Forum: to keep the discussion at a reasonably high (or deep)
  technical level, participants should be able to design or write computer
  software, or manage those who do.
</p>
<h2>METS Board Meeting</h2>
<p>
  Wednesday, November 3rd 1:30-5:00pm. Thursday, November 4th 8:30am-12:00pm<br />
  Fee: Free<br />
  Meeting Location: Crowne Plaza Cabana, Salon A
</p>
<p>
  An opening meeting to discuss technical and administrative issues of METS.
</p>
<h2>Digital Forensics Lab Tour</h2>
<p>
  Wednesday, November 3rd, 1:30-3:30 pm <br />
  Fee: Free<br />
  Green Library, Stanford University Campus
</p>
<p>
  In the summer of 2009 Stanford University Libraries created a Digital
  Forensics Lab (http://lib.stanford.edu/digital-forensics) to preserve and
  process born digital archival materials. The lab was designed to use forensic
  technologies to safely transfer and process born digital data from physical
  media that is at risk of loss due to bit rot and format obsolescence. The tour
  will include a visit to the Digital Forensics Lab, a brief demonstration of
  the forensic hardware and software, and a discussion of our lab workflow. The
  lab space is small so the number of tour participants will limited. If you are
  interested in seeing our new lab please RSVP Michael Olson at
  mgolson@stanford.edu.
</p>
<h2>Hydra Partners Meeting</h2>
<p>
  Thursday November 4, Friday November 5, and Saturday November 6<br />
  Fee: Free<br />
  Locations Stanford University Campus
</p>
<p>
  The Hydra Partners meeting is open to both current and prospective members of
  the Hydra Community.
</p>
<ul>
  <li>
    Thursday, November 4th will be dedicated to a one day Hydra Camp,
    introducing the concepts, technology stack, and development environment for
    the project . This day will build upon this month’s successful &amp;
    energetic
    <a href="http://hydracamp2010.eventbrite.com/">Hydra Camp</a>
    in Minneapolis, and will be tailored to those curious about or new to Hydra,
    and wanting to come up to speed or accelerate their adoption.
  </li>
  <li>
    Friday, November 5th and Saturday, November 6th will be the regular
    quarterly meeting for Hydra partners, with collaborative specification,
    planning and development for the open source project. Participation in these
    discussions is open to those who are actively developing and working towards
    adopting Hydra, and will contribute to advancing the project core. The Hydra
    Steering Group will also have a closed meeting on Saturday, November 6th.
  </li>
</ul>
<p>
  RSVP to hydra-collab@lists.stanford.edu if you are interested in participating
  in either or both events.
</p>
