---
title: '2010 DLF Forum: Palo Alto, CA'
layout: page.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Overview</h2>
<p>9:00 a.m., Monday, November 1st – 5:30 p.m. Wednesday, November 3rd, 2010</p>
<h2>Schedule</h2>
<ul>
  <li>
    <a href="{{ '/assets/files/schedsummary.pdf' | url }}">Schedule summary</a>
  </li>
  <li>
    <a href="{{ '/assets/files/schedule0917.pdf' | url }}"
      >Detailed schedule for entire forum, as of 11/24/10</a
    >
    (now includes links to speakers’ PowerPoint presentations)
  </li>
  <li>
    <a href="/resources/">Additional forum resources</a>
  </li>
  <li>
    <a href="/events/">Post Fall Forum Events</a>
  </li>
</ul>
<h2>Forum Registration</h2>
<p>
  <em
    ><strong
      >Registration for both the DLF Fall Forum and Taiga6 is now closed; we are
      at full capacity.</strong
    >
    If you wish to put your name on a waiting list, please contact Leslie Eagle,
    email: leagle <strong>at</strong> clir <strong>dot</strong> org.</em
  >
</p>
<p>
  If you have any questions, please contact Leslie Eagle. Email: leagle
  <strong>at</strong> clir <strong>dot</strong> org.
</p>
<h2>Forum Sponsorship</h2>
<p>
  If your organization would like to help sponsor the 2010 Fall Forum, click
  <a href="/sponsorship/">here</a>.
</p>
<h2>Hotel Information</h2>
<p>
  Crowne Plaza Cabaña<br />
  4290 El Camino Real<br />
  Palo Alto, California 94306 USA<br />
  Phone: 1-650-857-0787<br />
  Fax: 1-650-496-1939
</p>
<p>
  Reservations: Make your hotel reservations early – a special group rate of
  $149 (single or double) has been arranged for a limited number of hotel rooms
  at the conference hotel. Reservations can be made by calling the hotel
  directly at 650-857-0787 or online at: www.cppaloalto.crowneplaza.com.
</p>
<p>
  When calling the hotel or making online reservations, type in the three letter
  group code to receive the special group rate. The three letter code is CLI.
</p>
<p>
  Cut-off-date: The reservations cut-off-date for conference participants is
  Friday, October 1, 2010. The pricing of hotel rooms after this date will be
  the hotel’s best available rate.
</p>
<p>
  Check out the
  <a href="http://www.cityofpaloalto.org/visiting/default.asp"
    >City of Palo Alto’s visitors’ site</a
  >
  for information on local attractions and restaurants.
</p>
<h2>Transportation to and from Conference Hotel</h2>
<p>
  <strong>Mineta San Jose International Airport (SJC)</strong><br />
  Distance: 13 MI South to Hotel<br />
  (Take light rail, Airport Flyer, to Caltrain to San Antonio; call hotel
  (650.628.0195) and ask for complimentary train station shuttle. Taxi or Super
  Shuttle also available.)
</p>
<p>
  <strong>San Francisco International Airport (SFO)</strong><br />
  Distance: 25 MI North to Hotel<br />
  (Taxi or Super Shuttle)
</p>
<p>
  <strong>Oakland International Airport (OAK)</strong><br />
  Distance: 32 MI North East to Hotel<br />
  (Taxi, Super Shuttle, or BART to Millbrae stop to transfer to Caltrain to San
  Antonio; call hotel (650.628.0195) for complimentary train station shuttle.)
</p>
<p>
  <strong>Train Station Name: Caltrain Station, San Antonio</strong><br />
  Distance: 0.5 MI West to Hotel<br />
  (Call hotel at 650.628.0195 for complimentary train station shuttle.)
</p>
<h2>The DLF Fall Forum 2010 Program Committee</h2>
<ul>
  <li>Charles Blair, University of Chicago</li>
  <li>Tom Cramer, Stanford University</li>
  <li>Declan Fleming, University of California, San Diego</li>
  <li>Amanda French, George Mason University</li>
  <li>Rachel Frick, Council on Library and Information Resources</li>
  <li>Joshua Greenberg, Alfred P. Sloan Foundation</li>
  <li>Delphine Khanna, University of Pennsylvania</li>
  <li>Bethany Nowviskie, University of Virginia</li>
  <li>John Ober, California Digital Library</li>
  <li>David Reynolds, Johns Hopkins University</li>
  <li>Jenn Riley, Indiana University Bloomington</li>
  <li>Sarah Shreeves, University of Illinois at Urbana-Champaign</li>
  <li>Jon Stroop, Princeton University</li>
  <li>Jennifer Vinopal, New York University</li>
</ul>
