---
title: 'Presentations'
layout: page.njk
eleventyNavigation:
  hide: true
---

<h2>November 1, 2010</h2>
<h3>Project Managers Meeting</h3>
<blockquote>
  <p>
    <a href=" /assets/files/01PMGLynema.pdf">
      Agile Project Management and the Real World</a
    >—Emily Lynema<br /><br />
    <a href=" /assets/files/02PMGAkerman.pdf">
      Confessions of a new (agile) software project manager</a
    >—Laura Akerman<br /><br />
    <a href=" /assets/files/03PMGHoward.pdf">
      A hybrid approach – or case study to restore sanity – for software
      development projects Managers</a
    >—Barrie Howard<br /><br />
    <a href=" /assets/files/04PMGKhanna.pdf">
      Agile Project Management at Penn</a
    >—Delphine Khanna
  </p>
</blockquote>
<h3>Opening Session</h3>
<blockquote>
  <p>
    <a href=" /assets/files/21RLF.pdf">Welcome</a>—Rachel L. Frick<br /><br />
    <a href=" /assets/files/20CJH.pdf">Keynote Address</a>—Charles Henry
  </p>
</blockquote>
<p>&nbsp;</p>
<h2>November 2-3, 2010</h2>
<h3>Plenary Session</h3>
<blockquote>
  <p>
    <a href=" /assets/files/22PalmerDLF.pdf"
      >Collections in the Age of E-Research; Realizing Potential through
      Curation and Aggregation</a
    >—Carole Palmer
  </p>
</blockquote>
<h3>Presentations, Project Updates, and Working Sessions</h3>
<blockquote>
  <p>
    <a href=" /assets/files/25DLFseo.pdf"
      >Search Engine Optimization for Digital Collections</a
    >—Kenning Arlitsch, Patrick O’Brien, Sandra McIntyre<br />
    <br />
  </p>
  <p>
    <a href=" /assets/files/05collaborative-ils.pdf">
      Breaking Open the Silos: Building a Collaborative ILS Middleware
      Platform</a
    >—Emily Lynema and Roy Tennant<br />
  </p>
  <p>
    <a href=" /assets/files/24IdLocGov.pdf"
      >Authority and vocabulary data, RDF, Linked Data</a
    >—John Mark Ockerbloom<br />
  </p>
  <p>
    <a href=" /assets/files/06micro-services.pdf"> Curation Micro-services</a
    >—Stephen Abrams, Patricia Hswe, Delphine Khanna, Katherine Kott<br />
  </p>
  <p>
    <a href=" /assets/files/07DigitalLibrary.pdf">
      Digital Library as Partner in Transformative Scholarship</a
    >—Stephen Davison, Todd Grappone, Elizabeth McAulay, Jennifer Weintraub<br />
  </p>
  <p>
    <a href=" /assets/files/08Hydra.pdf">
      Hydra: A Technical and Community Framework for Customized, Shared
      Repository Applications</a
    >—Tom Cramer, Matt Zumwalt, Richard Green, Robin Ruggaber<br />
  </p>
  <p>
    <a href=" /assets/files/09JHOVE2-workshop.pdf">
      JHOVE2 Next-Generation Characterization</a
    >—Stephen Abrams, Hannah Frost, Sheila Morrissey<br />
  </p>
  <p>
    <a href=" /assets/files/10workshop5.pdf">
      Key Performance Indicators: Adapting an accountability tool for digital
      libraries</a
    >—Leslie Wolf and Lena Zentall<br />
  </p>
  <p>
    <a href=" /assets/files/11KualiOLE.pdf">
      Kuali OLE: Update from our First Quarter Startup</a
    >—Kristin Antelman and Michael Winkler<br />
  </p>
  <p>
    <a href=" /assets/files/12FDsys.pdf">
      Meeting the Mission: Preserving and Providing Access to Electronic Federal
      Government Publications (FDsys)</a
    >—Lisa R. LaPlant<br />
  </p>
  <p>
    <a href=" /assets/files/13seneca_dlf.pdf">
      Project to Production: California Digital Library Web Archiving Service</a
    >—Tracy Seneca<br />
  </p>
  <p>
    <a href=" /assets/files/14johnston_loc.pdf"> ReCollections</a>—Leslie
    Johnston and Barrie Howard<br />
  </p>
  <p>
    <a href=" /assets/files/15DLF-UIowa.pdf">
      Revise the Old or Draft Anew?: Devising Staffing and Workflow Solutions as
      Academic Libraries go Digital</a
    >—Jen Wolfe and Marta Brunner<br />
  </p>
  <p>
    <a href=" /assets/files/16txn_archive.pdf">
      Transactional Web Archiving: Memento</a
    >—Robert Sanderson, Lyudmila Balakireva, Harihar Shankar, Herbert Van de
    Sompel<br />
  </p>
  <p>
    <a href=" /assets/files/17vov.pdf">
      Variations on Video: Issues and Opportunities with Streaming Video</a
    >—Jon Dunn, Mark Notess, and Claire Stewart<br />
  </p>
  <p>
    <a href=" /assets/files/18XTFworkshop.pdf"> XTF</a>—Martin Haye, Kirk
    Hastings, Lisa Schiff
  </p>
</blockquote>
<blockquote>
  <p>
    <strong>Poster used in Project and Tool Showcase, November 2</strong>
    <br /><br />
    <a href=" /assets/files/19largescaledigi.pdf">
      From Trickle to Flood: An Extensible Approach to Large Scale Digitization
      of Manuscript Collections at UNC Chapel Hill Libraries</a
    >
  </p>
</blockquote>
<h3>Conference Wrap-up</h3>
<blockquote>
  <p>
    <a href=" /assets/files/23RLFwrapup.pdf">Conference Wrap-up</a>—Rachel L.
    Frick
  </p>
</blockquote>
