---
title: 'Resources'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>Fall forum resources:</p>
<blockquote>
  <p>
    <a href="{{ '/assets/files/schedule0917.pdf' | url }}"
      ><strong>Detailed schedule for entire forum &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<blockquote>
  <p>
    <a href="{{ '/assets/files/bios10_27.pdf' }}"
      ><strong>Speaker biographies &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<blockquote>
  <p>
    <a href="{{ '/assets/files/2010ForumAttendees.pdf' }}"
      ><strong>List of attendees &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<blockquote>
  <p>
    <a href="/social/"><strong>Social Media &gt;&gt;</strong></a>
  </p>
</blockquote>
<blockquote>
  <p>
    <a href="/events/"><strong>Post Fall Forum Events &gt;&gt;</strong></a>
  </p>
</blockquote>
<h2>Tuesday, November 2</h2>
<p><strong>Project Updates Session #1:</strong></p>
<blockquote>
  <p>
    <em
      >Project to Production: California Digital Library Web Archiving
      Service</em
    ><br /><br />
    Led by Tracy Seneca<br /><br />
    <a href="{{ '/assets/files/was_cagov_handout.pdf' }}"
      ><strong>Handouts &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<blockquote>
  <p>
    <em>Variations on Video: Issues and Opportunities with Streaming Video </em
    ><br /><br />
    Led by Jon Dunn, Mark Notess, Claire Stewart<br /><br />
    <a href="{{ '/assets/files/Variations.pdf' }}"
      ><strong>Description &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<blockquote>
  <p>
    <em>Transactional Web Archiving: Memento</em><br /><br />
    Led by Herbert Van de Sompel, Robert Sanderson, Lyudmila Balakireva, Harihar
    Shankar<br /><br />
    <a href="{{ '/assets/files/TransactionalWebArchiving.pdf' }}"
      ><strong>Description &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<p>
  <strong>Working Session #1:</strong>
  <em>Closing the Digital Curation Guidance Gap</em><br />
</p>
<p>
  Led by Dr. Helen R. Tibbo, Heather Bowden<br /><br />
  <a href="{{ '/assets/files/CDCGflyer.pdf' }}"
    ><strong>Handout &gt;&gt;</strong></a
  >
</p>
<p><strong>Project Updates Session #2:</strong></p>
<blockquote>
  <p>
    <em
      >Meeting the Mission: Preserving and Providing Access to Electronic
      Federal Government Publications</em
    >
    <br /><br />
    Led by Lisa R. LaPlant<br /><br />
    <a href="{{ '/assets/files/FDsysFactSheet.pdf' }}"
      ><strong>Handout &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<blockquote>
  <p>
    <em
      >Breaking Open the Silos: Building a Collaborative ILS Middleware Platform
      Session</em
    >
    <br /><br />
    Led by Roy Tennant, Emily Lynema<br /><br />
    <a href="{{ '/assets/files/BreakOpenSilos.pdf' }}"
      ><strong>Description &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<blockquote>
  <p>
    <em
      >Kuali OLE (Open Library Environment): An Update from our First Quarter
      Startup</em
    ><br /><br />
    Led by Mike Winkler, Kristin Antelman<br /><br />
    <a href="{{ '/assets/files/KualiOLE.pdf' }}"
      ><strong>Handout &gt;&gt;</strong></a
    >
  </p>
</blockquote>
<p>
  <strong>Reading Session #1:</strong>
  <em>Reimagining METS: An Exploration</em><br /><br />
  Led by Nancy Hoebelheinrich<br /><br />
  <a href="{{ '/assets/files/METSNextGeneration.pdf' }}"
    ><strong>White Paper &gt;&gt;</strong></a
  >
</p>
<p>
  <strong>Reading Session #2:</strong>
  <em>Social Metadata for Libraries, Archives, and Museums</em><br /><br />
  Led by Karen Smith-Yoshimura<br /><br />
  <a href="{{ '/assets/files/SocialMetadataforLAMs.pdf' }}"
    ><strong>Report &gt;&gt;</strong></a
  >
</p>
<p>
  <strong>Reading Session #3:</strong>
  <em>Digital Library Sustainability: how do we actually get there?</em
  ><br /><br />
  Led by Joan Starr<br /><br />
  <a href="{{ '/assets/files/sca_ithaka.pdf' }}"
    ><strong>Report &gt;&gt;</strong></a
  >
</p>
<p>
  <strong>Reading Session #4:</strong>
  <em
    >Digital Content and Infrastructure Needs of Research<br />
    Faculty</em
  ><br /><br />
  Led by Jennifer Schaffner, Susan Kroll, Mackenzie Smith<br /><br />
  <strong>Links:</strong> <em>A Slice of Research Life</em> available at<br />
  <a href="http://www.oclc.org/research/publications/library/2010/2010-15.pdf"
    >http://www.oclc.org/research/publications/library/2010/2010-15.pdf</a
  >.<br /><br />
  <em>Scholarly Information Practices from the Online Environment</em>
  available at
  <a href="http://escholarship.org/uc/item/0kr8s78v"
    >http://escholarship.org/uc/item/0kr8s78v</a
  >.
</p>
<h2>Wednesday, November 3</h2>
<p>
  <strong>Conference Wrap Up</strong><br /><br />
  <a href="{{ '/assets/files/2009ForumFeedback.pdf' }}"
    ><strong>Handout &gt;&gt;</strong></a
  >
</p>
